# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados
database/*.db

# IDE
.vscode/
.idea/

# Sistema operacional
Thumbs.db
Desktop.ini

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp